@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 22vh;
}

body{
  background-color: #363636;
  
}

@media screen and (max-width: 768px){
  #root {
    padding-top: 10vh;
  }
}